#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.smiskis {
  display: grid;
  width: 600px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  color: black;
}

.smiskis li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 160px;
  border: 1px solid white;
  background-color: white;
  border-radius: 18px;
}

.card {
  padding: 2em;
}
