#root {
  max-width: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background: #23a441; */
}

body {
  background-color: #23a441;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.smiskis {
  display: grid;
  width: 800px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  color: black;
}

.smiskis div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 295px;
  border: 1px solid white;
  background-color: white;
  border-radius: 18px;
}

.SmiskiName {
  font-size: 14px;
  padding: -10px;
  color: #555;
}

.custom-typography {
  margin-bottom: 8px;
}
