.aboutContainer {
    width: 400px;
    background-color: beige;
    padding: 30px;
    border-radius: 18px;
}

.aboutText {
    color: #555;
    font-weight: 400;
    font-size: 20px;
}

.aboutText2 {
    color: #555;
    font-weight: 400;
    font-size: 20px;
}