.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    padding: 10px 20px;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
  
li {
    margin: 0 10px;
}

.headerTitle {
    color: #23a441; /* Change the text color to green */
    font-size: 220%;
    font-weight: 650;
    padding: 10px;
    font-family: 'Roboto';
    padding-left: 40px;
}

.headerTitle:hover {
    color: #23a441;
}