.home {
    color: #555;
    font-size: 20px;
    font-family: 'Roboto';
    padding: 10px;
}

.home:hover {
    color: #000;
    font-family: 'Roboto';
    padding: 10px;
}

.about {
    color: #555;
    font-size: 20px;
    font-family: 'Roboto';
    padding: 10px;
}

.about:hover {
    color: #000;
    font-family: 'Roboto';
    padding: 10px;
}

.signin {
    color: #555;
    font-size: 20px;
    font-family: 'Roboto';
    padding: 10px;
}

.signin:hover {
    color: #000;
    font-family: 'Roboto';
    padding: 10px;
}

.customNavbar {
    margin-left: auto;
}