body {
    /* background-color: #23a441; */
    margin: 0;
    display: flex;
    justify-content: center;
}
  
.smiskiCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  position: relative;
}

.checkboxContainer {
  position: absolute;
  top: 40px;
  left: 15px; 
}
  
.smiskiPart {
  background: white;
  border-radius: 18px;
}
  
.SmiskiName {
  color: gray;
  padding: 10px;
}
  
.SmiskiSeries {
  color: black;
  padding: 40px 5px 5px; 
}
  
.SmiskiDescription {
  color: black;
  padding: 5px;
  overflow: auto;
  overflow-y: auto;
  padding-bottom: 1px;
}
  
.SmiskiDescription::-webkit-scrollbar {
  width: 3px;
}
  
.SmiskiDescription::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
  
.SmiskiDescription::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
  
.customCardContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 700px;
}
  
.customCardContent .MuiTypography-root{
  margin-bottom: 1px;
}

